<nav class="navbar sticky-top navbar-expand-lg navbar-dark p-3" style="background-color: #000000;"> 
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://www.argentina.gob.ar/sites/default/files/untitled-3-01_2.png" alt="Logo" width="150"  class="d-inline-block align-text-center">
      Argentina programa 4.0 | Foro
    </a>

   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/nuevo-post">Nuevo Post</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>