<nav class="navbar sticky-top navbar-expand-lg navbar-light p-3" style="background-color: #e3f2fd;"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Foro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/nuevo-post">Nuevo Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Buscar Post</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>